* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  scroll-behavior: smooth;
}

body {
  background: #0b0f1a;
  color: #fff;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(11, 15, 26, 0.95);
  z-index: 100;
}

/* Brand color */
.nav-left span {
  color: #00eaff;
  transition: 0.4s;
}

.nav-left span:hover {
  color: #00ffff;
  transform: scale(1.1);
}

/* Nav links */
.nav-links {
  display: flex;
  gap: 5px;
  list-style: none;
}

/* Individual link */
.nav-links a {
  color: #fff;
  text-decoration: none;
  position: relative;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.4s;
}

/* Underline effect */
.nav-links a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background: #00eaff;
  left: 0;
  bottom: 0;
  transition: 0.4s;
}


.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  background: #00eaff;
  color: #000;
  transform: scale(1.05);
}

/* Active link highlight */
.nav-links a.active {
  color: #00eaff;
  font-weight: bold;
}

section h2 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #ffffff;
  position: relative;
  display: inline-block;
  transition: .4s;
  cursor: default;
  left: 50%;
  transform: translateX(-50%);
}

/* underline */
section h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -8px;
  width: 60px;
  height: 3px;
  background: #00eaff;
  transform: translateX(-50%);
  transition: .4s;
}

/* hover */
section h2:hover {
  color: #00eaff;
  transform: translateX(-50%) translateY(-3px);
}

section h2:hover::after {
  width: 100%;
}

/* HERO */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  width: 100%;
  padding: 0 5%;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 44px;
  margin-bottom: 10px;
}

.hero-text span {
  color: #00eaff;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #ccc;
}

/* HERO BUTTONS */
.hero-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
  display: inline-block;
}

/* Primary */
.btn-primary {
  border: 2px solid #00eaff;
  color: #00eaff;

}

.btn-primary:hover {
  background: #00eaff;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 0 25px #00eaff;
}

/* Secondary */
.btn-secondary {
  border: 2px solid #00eaff;
  color: #00eaff;
}

.btn-secondary:hover {
  background: #00eaff;
  color: #000;
  transform: translateY(-5px);
  box-shadow: 0 0 25px #00eaff;
}
 /* .hero-card */
.hero-card {
  justify-self: center;
  background: #11162a;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  transition: .4s;
}


.hero-card img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.hero-card:hover {
  box-shadow: 0 0 30px #00eaff;
  transform: scale(1.05);
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat 1fr, 1fr;
  gap: 40px;
  align-items: center;
}

.hero-card {
  justify-self: center;
  background: #11162a;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  transition: .4s;
}

.hero-card img {
  width: 200px;
  height: 240px;
  object-fit: cover;
  border-radius: 15px;
  object-position: top;
  margin-bottom: 15px;
  border: 3px solid #00eaff
}

.hero-card:hover {
  box-shadow: 0 0 30px #00eaff;
  transform: scale(1.05);
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-text span {
  color: #00eaff;
}

/* SECTION */
.section {
  padding: 100px 10%;
}

.section-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

/* about section */
.about-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  align-items: center;
}

.about-card {
  background: #11162a;
  padding: 30px;
  border-radius: 20px;
  transition: .4s;
}

.about-card img {
  width: 60%;
  height: auto;
  border-radius: 15px
}

.about-card:hover {
  box-shadow: 0 0 25px #00eaff;
}

.about-card ul li {
  padding: 6px;
  cursor: pointer;
  transition: .3s;
}

.about-card ul li:hover {
  color: #00eaff;
  transform: scale(1.15);
  text-shadow: 0 0 10px #00eaff;
}

/* skills section */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.skill-card {
  background: #11162a;
  padding: 25px;
  border-radius: 20px;
  transition: .4s;
}

.skill-card:hover {
  box-shadow: 0 0 25px #00eaff;
}

.skill-card h3 {
  color: #00eaff;
  margin-bottom: 15px;
}

.skill-card ul li {
  padding: 6px;
  cursor: pointer;
  transition: .3s;
}

.skill-card ul li:hover {
  color: #00eaff;
  transform: scale(1.15);
  text-shadow: 0 0 10px #00eaff;
}

/* education section */
.edu-grid {
  display: grid;
  place-items: center;
}

.edu-card {
  width: 100%;
  max-width: 900px;
  background: #11162a;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  transition: .4s;
}

.edu-card:hover {
  box-shadow: 0 0 25px #00eaff;
  transform: translateY(-10px);
}

/* LEFT CONTENT */
.edu-left h3 {
  font-size: 26px;
  margin-bottom: 8px;
}

.edu-left .degree {
  color: #00eaff;
  font-weight: 500;
  margin-bottom: 6px;
}

.edu-left .college,
.edu-left .university {
  opacity: .85;
  margin-bottom: 4px;
}

.edu-left .cgpa span {
  color: #00eaff;
  font-weight: 600;
}

/* RIGHT YEAR */
.edu-right .year {
  padding: 12px 18px;
  border-radius: 20px;
  background: #0b0f1a;
  color: #00eaff;
  font-weight: 600;
  box-shadow: 0 0 15px rgba(0, 234, 255, .3);
}



/* certificate */

.cert-grid {
  display: flex;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  
}


.cert-card {
  background: #11162a;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: .4s;
  width: 400px;
  height: auto;
  margin-top:0px;
}

.cert-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
  margin-top:0px;
  object-fit: cover;
  background: #0b0f1a;
}

.cert-card h3 {
  color: #00eaff;
  font-size: 1.2rem;
}

.cert-card p {
  font-size: 0.9rem;
  opacity: 0.8;
}

.cert-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 0 25px #00eaff;
}

/* connect  */

.connect-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.connect-card {
  background: #11162a;
  padding: 30px;
  text-align: center;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  transition: .4s;
}

.connect-card:hover {
  transform: rotate(2deg) scale(1.1);
  box-shadow: 0 0 30px #00eaff;
}

.nav-links a.active {
  color: #00eaff;
}

/* project section */
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}
.project-grid p{
  font-weight: bold;
  font-size: medium;
}
.section-title h2{
  margin-bottom: 20px;
}
.project-card {
  background: #11162a;
  padding: 30px;
  border-radius: 20px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
}

.project-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, transparent, #00eaff, transparent);
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
}

.project-card:hover::before {
  opacity: 0.25;
}

.project-card:hover {
  transform: translateY(-15px) scale(1.05);
  box-shadow: 0 0 30px #00eaff;
}

.project-card h3 {
  color: #00eaff;
  margin-bottom: 15px;
}

.project-card p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-btn {
  display: inline-block;
  padding: 10px 20px;
  border: 1px solid #00eaff;
  color: #00eaff;
  text-decoration: none;
  border-radius: 25px;
  transition: 0.4s;
}

.project-btn:hover {
  background: #00eaff;
  color: #000;
  box-shadow: 0 0 20px #00eaff;
}

/* footer */
.footer {
  background: #070b14;
  padding: 20px 10px;
  text-align: center;
  border-top: 1px solid rgba(0, 234, 255, 0.3);
}

.footer p {
  font-size: 14px;
  color: #aaa;
  transition: 0.4s;
}

.footer p:hover {
  color: #00eaff;
  letter-spacing: 1px;
}

